.ctrl-selectmenu {
  -webkit-transform: translateZ(0);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  color: #3b4043;
  visibility: hidden;
  opacity: 0;
}
.ctrl-selectmenu-picker {
  position: absolute;
  width: 100%;
  height: 260px;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -webkit-transform: translateY(100%);
  box-sizing: border-box;
  background: #fff;
  z-index: 99;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.ctrl-selectmenu-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  background: #eee;
  border-top: 1px solid #b2b2b2;
  overflow: hidden;
  display: -webkit-box;
}
.ctrl-selectmenu-header a {
  text-decoration: none;
  color: #3b4043;
  font-size: 16px;
  padding: 0 12px;
}
[data-dpr="1"] .ctrl-selectmenu-header a {
  font-size: 16px;
}
[data-dpr="2"] .ctrl-selectmenu-header a {
  font-size: 32px;
}
[data-dpr="3"] .ctrl-selectmenu-header a {
  font-size: 48px;
}
.ctrl-selectmenu-header .tip {
  font-size: 14px;
  -webkit-box-flex: 1;
  width: 0;
  display: block;
  text-align: center;
}
[data-dpr="1"] .ctrl-selectmenu-header .tip {
  font-size: 14px;
}
[data-dpr="2"] .ctrl-selectmenu-header .tip {
  font-size: 28px;
}
[data-dpr="3"] .ctrl-selectmenu-header .tip {
  font-size: 42px;
}
.ctrl-selectmenu-wrapper {
  display: -webkit-box;
  height: 196px;
  margin: 10px 0;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  overflow: hidden;
}
.ctrl-selectmenu-col {
  -webkit-box-flex: 1;
  width: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-width: 1px 0;
  border-color: #cdcdcd;
  border-style: solid;
  font-size: 18px;
  color: #ddd;
  margin: 0;
}
[data-dpr="1"] .ctrl-selectmenu-col {
  font-size: 18px;
}
[data-dpr="2"] .ctrl-selectmenu-col {
  font-size: 36px;
}
[data-dpr="3"] .ctrl-selectmenu-col {
  font-size: 54px;
}
.ctrl-selectmenu-option {
  height: 40px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ctrl-selectmenu-col .current {
  color: #333;
}
