/*css reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*HTML5 display-role reset for older browsers*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
button,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.none {
  display: none!important;
}
.float-left {
  float: left!important;
}
.float-right {
  float: right!important;
}
.delay-animation {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s, 0.45s;
  -webkit-transition-timing-function: ease;
}
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.about-item {
  padding: 10px 3.90625% 0;
  background: #fff;
  padding-bottom: 10px;
  color: #333333;
}
.about-item h2 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  border-left: 4px solid #ff3826;
  text-indent: 5px;
}
.about-item p {
  font-size: 12px;
  line-height: 20px;
}
.about-item .about-tips {
  font-size: 15px;
  color: #f13776;
  text-align: center;
}
.img-half {
  width: 100%;
  padding: 0 20%;
  text-align: center;
}
.fg {
  border-top: 10px solid #eee;
}
