/*css reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*HTML5 display-role reset for older browsers*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
button,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.none {
  display: none!important;
}
.float-left {
  float: left!important;
}
.float-right {
  float: right!important;
}
.delay-animation {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s, 0.45s;
  -webkit-transition-timing-function: ease;
}
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ctrl-number {
  border-radius: 1.5px;
  border: 1px solid #e5e5e5;
  display: inline-block;
}
.ctrl-number.no-handle .input-num {
  border: 0 none;
}
.ctrl-number .minus,
.ctrl-number .add {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAgMAAAC+UIlYAAAACVBMVEUAAACZmZlfZG8eKP7jAAAAAXRSTlMAQObYZgAAAD5JREFUeAFjGNZgFIyCUSAaCgIIvtYqEKCHAvqDUTAKRsEoGAWjgDEElc+0AkKPKhhEzQPKfTGqYIiCUTAKAB1RPL7o93GDAAAAAElFTkSuQmCC);
  background-size: 64px;
  background-repeat: no-repeat;
  float: left;
  width: 32px;
  height: 32px;
  text-align: center;
  text-indent: -1000em;
}
.ctrl-number .minus {
  background-position: -32px 0;
}
.ctrl-number .add {
  background-position: -32px -32px;
}
.ctrl-number .minus-disabled {
  background-position: 0 0 !important;
}
.ctrl-number .add-disabled {
  background-position: 0 -32px !important;
}
.ctrl-number .input-num {
  float: left;
  width: 36px;
  border-radius: 0;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 0 none;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  font-family: 'arial';
  font-size: 14px;
  color: #333333;
}
.c-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.c-mask.hide {
  display: none;
}
.c-mask.show {
  display: block;
}
.c-float-popWrap {
  width: 268px;
  border-radius: 3px;
  z-index: 9999;
  position: absolute;
  overflow: hidden;
}
.c-float-popWrap .c-float-modePop {
  background: #f4f4f3;
  border-radius: 3px;
  padding: 0;
}
.c-float-popWrap .warnMsg {
  padding: 30px 15px;
  text-align: center;
  color: #333;
  font-size: 15px;
  line-height: 1.5;
}
.c-float-popWrap .content {
  display: none;
}
.c-float-popWrap .doBtn {
  border-top: solid 1px #e5e5e5;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */

  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */

  display: box;
}
.c-float-popWrap .doBtn > * {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 0;
  display: block;
  padding: 15px 0;
  text-align: center;
  color: #333;
  font-size: 16px;
  text-decoration: none;
}
.c-float-popWrap .doBtn > *:last-child {
  border-left: solid 1px #e5e5e5;
}
.c-float-popWrap.hide {
  display: none;
  -webkit-box-shadow: none;
}
.c-float-popWrap.show {
  display: block;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.c-float-popWrap.msgMode .c-float-modePop .content,
.c-float-popWrap.msgMode .c-float-modePop .doBtn {
  display: none;
}
.c-float-popWrap.alertMode .c-float-modePop .content {
  display: none;
}
.c-float-popWrap.alertMode .c-float-modePop .doBtn .cancel {
  display: none;
}
html,
body {
  height: 100%;
  background: #eeeeee;
}
.container {
  height: 100%;
  margin: 0px !important;
}
.heiauto {
  height: auto !important;
}
.main {
  height: 100%;
}
.main .cart-outer {
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}
.main .cart-outer .cart-inner {
  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: url('http://img01.ve.cn/party/87a7762774b5f9f66574a1eab4bb57a8.png') no-repeat 50% 50% #ffffff;
  background-size: cover;
  position: absolute!important;
}
.main .go-index {
  position: absolute;
  width: 100%;
  height: 0;
  padding-bottom: 23%;
  display: block;
  bottom: 0;
}
#products {
  height: 100%;
}
h1 {
  padding: 5px 3.90625% 3px;
  font-size: 14px;
  line-height: 28px;
}
.cart-top {
  background: #fff;
  text-align: center;
  height: 38px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 15px;
  color: #333333;
  -webkit-user-select: none;
}
.cart-top div {
  float: left;
  width: 50%;
  font-size: 15px;
}
.hname {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
}
.text-l {
  line-height: 0px;
}
.text-ri {
  text-align: left;
  font-size: 10px;
  margin-top: 10px;
  color: #faa819;
}
#btn-pro {
  padding: 0 18px 9px;
  width: 50%;
}
#btn-sea {
  padding: 0 18px 9px;
  width: 50%;
}
.cart-item {
  padding: 0px 0;
  margin-bottom: 5px;
  background: #eeeeee;
}
.hover {
  border-bottom: 2px solid #ff3862;
  color: #ff3862;
}
.recom {
  padding: 0px 12.5px 10px;
  background: #fff;
}
.top-line {
  border-top: 1px solid #e5e5e5;
}
.recom-item {
  display: block;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.recom-item .item-hd {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */

  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */

  display: box;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */

}
.recom-item .item-hd a {
  float: left;
  width: 100%;
}
.recom-item .item-hd .logo {
  height: 102px;
  background-size: contain;
  margin-right: 12.5px;
  border: 1px solid #e5e5e5;
}
.recom-item .item-hd .others {
  width: 0;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.recom-item .item-hd .name {
  font-size: 13px;
  color: #333333;
  line-height: 18px;
  width: 65%;
  float: left;
  height: 36px;
  overflow: hidden;
}
.recom-item .item-hd .size {
  font-size: 12px;
  color: #999999;
  padding: 3px 0 11px;
}
.recom-item .item-hd .recom-content {
  color: #999999;
  font-size: 11px;
  margin-top: 7px;
  line-height: 16px;
}
.cart-big {
  font-size: 13px;
  color: #333333;
}
.cart-small {
  font-size: 12px;
  color: #999999;
  text-decoration: line-through;
}
.text-r {
  text-align: right;
}
.cart-active {
  color: #999999;
  font-size: 11px;
  padding: 10px 0 0 0;
  line-height: 18px;
  width: 97%;
  height: 31px;
  overflow: hidden;
}
.active {
  background: #7fca15;
  color: #fff;
  padding: 3px 7px;
  -webkit-border-radius: 3px;
  font-size: 14px;
}
.cart-bottom {
  width: 100%;
  padding: 0 3.90625%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 5px;
  height: 60px;
  padding-top: 12px;
  background: #fff;
  margin-bottom: 15px;
}
.cart-bottom2 {
  display: none;
  width: 100%;
  padding: 0 3.90625%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 4px;
  height: 120px;
  padding-top: 12px;
  background: #fff;
  margin-bottom: 15px;
}
.cart-bottom2 p {
  text-align: center;
  height: 50px;
}
.cart-bottom2 .cart-s {
  margin-top: 9px;
  background: #ff3862;
  border: 1px solid #ff3862;
  text-align: center;
  border-radius: 3px;
  height: 37px;
  line-height: 37px;
}
.cart-bottom2 .cart-s a {
  color: #fff;
  font-size: 15px;
}
.cart-bottom2 .cart-t {
  margin-top: 9px;
  height: 37px;
  line-height: 37px;
  background: #fff;
  border: 1px solid #ff3862;
  border-radius: 3px;
  text-align: center;
  margin-right: 3%;
  width: 37%;
}
.cart-bottom2 .cart-t a {
  color: #ff3862;
  font-size: 15px;
}
.cart-bottom2 ul li {
  float: left;
}
.cart-bottom2 .heji {
  color: #666666;
}
.cart-bottom2 .money {
  color: #ff3862;
  font-size: 15px;
}
.cart-bottom2 .jiesheng {
  font-size: 12px;
}
.cart-bottom ul li {
  float: left;
}
.cart-cou {
  background: #ff3862;
  padding: 10px 30px;
  color: #fff;
  border-radius: 3px;
}
.cart-f {
  width: 20%;
  color: #999999;
  font-size: 12px;
}
.cart-f img {
  vertical-align: -8px;
}
.cart-s {
  width: 60%;
  text-align: left;
  font-size: 12px;
  line-height: 17px;
  margin-right: 0%;
}
.heji {
  font-size: 15px;
  padding-bottom: 5px;
  color: #ff3862;
}
.jiesheng {
  color: #999999;
}
.cart-t {
  width: 40%;
  font-size: 15px;
  margin-top: 9px;
  text-align: right;
}
.delete-cart {
  margin-right: 0px;
}
.delete-cart img {
  margin-top: 6px;
}
#products {
  padding-bottom: 40px;
}
#sea_products {
  display: none;
  height: 100%;
  padding-bottom: 40px;
}
.mj {
  background: #7fca15;
  color: #fff;
  padding: 2px 3px;
  -webkit-border-radius: 3px;
  font-size: 12px;
}
.by {
  background: #faa819;
  color: #fff;
  padding: 2px 3px;
  -webkit-border-radius: 3px;
  font-size: 12px;
}
.mz {
  background: #ff7391;
  color: #fff;
  padding: 2px 3px;
  -webkit-border-radius: 3px;
  font-size: 12px;
}
.freetwo {
  background: #ff8067;
  color: #fff;
  padding: 2px 3px;
  -webkit-border-radius: 3px;
  font-size: 10px;
  margin-right: 3px;
  margin-top: 6px;
}
.ctrl-number .input-num {
  padding-left: 11px;
  width: 44px;
}
.tips {
  width: 100%;
  font-size: 12px;
  background: #fffccd;
  padding: 5px 3.90625%;
  line-height: 16px;
  color: #ff9c00;
}
.tips .img {
  position: absolute;
  margin-top: 1px;
}
.tips .text {
  margin-left: 18px;
}
.money-active {
  border-top: 1px solid #e5e5e5;
  font-size: 12px;
  color: #999;
  line-height: 18px;
  padding-top: 5px;
  margin-top: 5px;
  text-align: right;
}
.money-active .minus-money {
  color: #000;
}
.money-active .all-money {
  color: #ff3862;
  font-size: 14px;
}
