@charset "utf-8";
html {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
[data-dpr="1"] body {
  font-size: 12px;
}
[data-dpr="2"] body {
  font-size: 24px;
}
[data-dpr="3"] body {
  font-size: 36px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
input:-ms-clear {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
ins,
a {
  text-decoration: none;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 0.9rem;
}
h5 {
  font-size: 0.7rem;
}
h6 {
  font-size: 0.6rem;
}
* {
  text-decoration: none;
}
a:hover * {
  text-decoration: none;
}
#hui .slider-outer {
  width: 320px;
  height: 120px;
  overflow: hidden;
  position: relative;
}
#hui .slider-outer .slider-wrap {
  position: absolute;
  height: 100%;
}
#hui .slider-outer .slider-wrap li {
  float: left;
  width: 320px;
  height: 100%;
}
#hui .slider-outer .slider-wrap li a {
  display: block;
  height: 100%;
  width: 100%;
}
#hui .slider-outer .slider-wrap li img {
  height: 100%;
  width: 100%;
  border: 0;
}
#hui .slider-status {
  height: 0.5rem;
  padding-top: 0.05px;
  text-align: center;
}
#hui .slider-status span {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #ccc;
  -webkit-border-radius: 999rem;
  margin-right: 0.4rem;
}
#hui .slider-status span:last-child {
  margin-right: 0;
}
#hui .slider-status .sel {
  background-color: #ff0066;
}
#hui .slider-status {
  position: relative;
  margin-top: -1rem;
}
#hui .wrapper .grid {
  box-sizing: content-box;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-left: -0.2rem;
}
#hui .wrapper .grid:before,
#hui .wrapper .grid:after {
  content: " ";
  display: table;
}
#hui .wrapper .grid:after {
  clear: both;
}
#hui .wrapper .grid [class^="col-"] {
  margin-left: 0.2rem;
  float: left;
}
#hui .wrapper .grid .col-1 {
  width: 1.1rem;
}
#hui .wrapper .grid .row-1 {
  height: 1.1rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-2 {
  width: 2.4rem;
}
#hui .wrapper .grid .row-2 {
  height: 2.4rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-3 {
  width: 3.7rem;
}
#hui .wrapper .grid .row-3 {
  height: 3.7rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-4 {
  width: 5rem;
}
#hui .wrapper .grid .row-4 {
  height: 5rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-5 {
  width: 6.3rem;
}
#hui .wrapper .grid .row-5 {
  height: 6.3rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-6 {
  width: 7.6rem;
}
#hui .wrapper .grid .row-6 {
  height: 7.6rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-7 {
  width: 8.9rem;
}
#hui .wrapper .grid .row-7 {
  height: 8.9rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-8 {
  width: 10.2rem;
}
#hui .wrapper .grid .row-8 {
  height: 10.2rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-9 {
  width: 11.5rem;
}
#hui .wrapper .grid .row-9 {
  height: 11.5rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-10 {
  width: 12.8rem;
}
#hui .wrapper .grid .row-10 {
  height: 12.8rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-11 {
  width: 14.1rem;
}
#hui .wrapper .grid .row-11 {
  height: 14.1rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid .col-12 {
  width: 15.4rem;
}
#hui .wrapper .grid .row-12 {
  height: 15.4rem;
}
#hui .wrapper .grid .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-fat {
  box-sizing: content-box;
  padding-left: 0.6125rem;
  padding-right: 0.6125rem;
  margin-left: -0.25rem;
}
#hui .wrapper .grid-fat:before,
#hui .wrapper .grid-fat:after {
  content: " ";
  display: table;
}
#hui .wrapper .grid-fat:after {
  clear: both;
}
#hui .wrapper .grid-fat [class^="col-"] {
  margin-left: 0.25rem;
  float: left;
}
#hui .wrapper .grid-fat .col-1 {
  width: 1rem;
}
#hui .wrapper .grid-fat .row-1 {
  height: 1rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-2 {
  width: 2.25rem;
}
#hui .wrapper .grid-fat .row-2 {
  height: 2.25rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-3 {
  width: 3.5rem;
}
#hui .wrapper .grid-fat .row-3 {
  height: 3.5rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-4 {
  width: 4.75rem;
}
#hui .wrapper .grid-fat .row-4 {
  height: 4.75rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-5 {
  width: 6rem;
}
#hui .wrapper .grid-fat .row-5 {
  height: 6rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-6 {
  width: 7.25rem;
}
#hui .wrapper .grid-fat .row-6 {
  height: 7.25rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-7 {
  width: 8.5rem;
}
#hui .wrapper .grid-fat .row-7 {
  height: 8.5rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-8 {
  width: 9.75rem;
}
#hui .wrapper .grid-fat .row-8 {
  height: 9.75rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-9 {
  width: 11rem;
}
#hui .wrapper .grid-fat .row-9 {
  height: 11rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-10 {
  width: 12.25rem;
}
#hui .wrapper .grid-fat .row-10 {
  height: 12.25rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-11 {
  width: 13.5rem;
}
#hui .wrapper .grid-fat .row-11 {
  height: 13.5rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-fat .col-12 {
  width: 14.75rem;
}
#hui .wrapper .grid-fat .row-12 {
  height: 14.75rem;
}
#hui .wrapper .grid-fat .gutter-bottom {
  margin-bottom: 0.25rem;
}
#hui .wrapper .grid-fat .gutter-right {
  margin-right: 0.25rem;
}
#hui .wrapper .grid-thin {
  box-sizing: content-box;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-left: -0.2rem;
}
#hui .wrapper .grid-thin:before,
#hui .wrapper .grid-thin:after {
  content: " ";
  display: table;
}
#hui .wrapper .grid-thin:after {
  clear: both;
}
#hui .wrapper .grid-thin [class^="col-"] {
  margin-left: 0.2rem;
  float: left;
}
#hui .wrapper .grid-thin .col-1 {
  width: 1.15rem;
}
#hui .wrapper .grid-thin .row-1 {
  height: 1.15rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-2 {
  width: 2.5rem;
}
#hui .wrapper .grid-thin .row-2 {
  height: 2.5rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-3 {
  width: 3.85rem;
}
#hui .wrapper .grid-thin .row-3 {
  height: 3.85rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-4 {
  width: 5.2rem;
}
#hui .wrapper .grid-thin .row-4 {
  height: 5.2rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-5 {
  width: 6.55rem;
}
#hui .wrapper .grid-thin .row-5 {
  height: 6.55rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-6 {
  width: 7.9rem;
}
#hui .wrapper .grid-thin .row-6 {
  height: 7.9rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-7 {
  width: 9.25rem;
}
#hui .wrapper .grid-thin .row-7 {
  height: 9.25rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-8 {
  width: 10.6rem;
}
#hui .wrapper .grid-thin .row-8 {
  height: 10.6rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-9 {
  width: 11.95rem;
}
#hui .wrapper .grid-thin .row-9 {
  height: 11.95rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-10 {
  width: 13.3rem;
}
#hui .wrapper .grid-thin .row-10 {
  height: 13.3rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-11 {
  width: 14.65rem;
}
#hui .wrapper .grid-thin .row-11 {
  height: 14.65rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .grid-thin .col-12 {
  width: 16rem;
}
#hui .wrapper .grid-thin .row-12 {
  height: 16rem;
}
#hui .wrapper .grid-thin .gutter-bottom {
  margin-bottom: 0.2rem;
}
#hui .wrapper .grid-thin .gutter-right {
  margin-right: 0.2rem;
}
#hui .wrapper .banner {
  width: 100%;
}
#hui .wrapper .banner a {
  display: block;
}
#hui .wrapper .banner img {
  width: 100%;
  display: block;
}
#hui .wrapper .itemlist {
  padding-top: 0.3rem;
}
#hui .wrapper .itemlist a {
  display: block;
  color: #333;
  background: #fff;
  text-decoration: none;
}
#hui .wrapper .itemlist img {
  display: block;
  width: 100%;
  background: url(http://h5.quxiu.me/assets/img/s.gif) no-repeat center;
}
#hui .wrapper .itemlist .item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.4rem 0 0 0.2rem;
  font-size: 0.65rem;
}
#hui .wrapper .itemlist .item-price {
  height: 1rem;
  line-height: 1rem;
  padding: 0.2rem;
    overflow: hidden;
}
#hui .wrapper .itemlist .item-price:before,
#hui .wrapper .itemlist .item-price:after {
  content: " ";
  display: table;
}
#hui .wrapper .itemlist .item-price:after {
  clear: both;
}
#hui .wrapper .itemlist .item-price .price {
  color: #ff0066;
  font-size: 0.8rem;
}
#hui .wrapper .itemlist .item-price .o-price {
  color: #bdbdbd;
  text-decoration: line-through;
  font-size: 0.5rem;
}
#hui .wrapper .itemlist .item-price .discount {
  color: #666;
  font-size: 0.6rem;
  float: right;
}
#hui .wrapper .itemlist .grid > div {
  margin-bottom: 0.2rem;
}
#hui .wrapper .gap-blank-thin {
  width: 100%;
  height: 0.2rem;
}
#hui .wrapper .gap-blank-fat {
  width: 100%;
  height: 0.4rem;
}
#hui .wrapper .gap-line-thin {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.1rem;
  margin-bottom: 0.1rem;
}
#hui .wrapper .gap-line-fat {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
}
#hui .wrapper .gap-dotted-thin {
  width: 100%;
  height: 0;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 0.1rem;
  margin-bottom: 0.1rem;
}
#hui .wrapper .gap-dotted-fat {
  width: 100%;
  height: 0;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
}
#hui .wrapper .type {
  background: #fff;
  padding: 1rem 0.6rem;
}
#hui .wrapper .type h1,
#hui .wrapper .type h2,
#hui .wrapper .type h3,
#hui .wrapper .type h4,
#hui .wrapper .type h5,
#hui .wrapper .type h6 {
  font-weight: 400;
  text-align: center;
}
#hui .wrapper .type h1 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin-bottom: 0.4rem;
}
#hui .wrapper .type h2 {
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 0.4rem;
}
#hui .wrapper .type h3,
#hui .wrapper .type h4,
#hui .wrapper .type h5,
#hui .wrapper .type h6 {
  font-size: 0.7rem;
}
#hui .wrapper .type p {
  font-size: 0.65rem;
  line-height: 1rem;
  text-indent: 1.3rem;
  color: #333;
  margin-bottom: 0.4rem;
}
#hui .top-wrapper {
  padding-top: 2rem;
}
#hui .footer {
  margin-top: 0;
  background: #eee;
  border-top: 1px dotted #ccc;
  padding-top: 0.6rem;
}
#hui .footer p {
  line-height: 1rem;
  text-align: center;
  font-size: 0.6rem;
  color: #999;
}
#hui .footer p a {
  font-size: 0.7rem;
  color: #ff0066;
}
